<article class="news-article">
  <header>
    <a class="add" href="/">← Back to Home</a>
    <h1><%= article.title %></h1>
    <time datetime="<%= article.date %>"><%= new Date(article.date).toLocaleDateString('nl-NL') %></time>
  </header>
  <div class="content">
    <p><%= article.content %></p>
  </div>
</article>
